body {
    display: block;
    margin: 0 auto;
    text-align: center;

    // background-image: url('../img/brillant.png');
}

#container {
    display: inline-block;
    margin: 0 auto;
}

#content {
	min-height: 550px;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#content {
		margin-left: -10px;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#content {
		margin-left: -60px;
	}		
}

#header {
    text-align: left;
    margin: 45px 0px 55px 0px;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#header {
		position: relative;
		margin: 25px 0px 30px 0px;
	}
}

.title {
    font-weight: normal;
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.title {
		float: left;
		font-size: 6em;
		width: inherit;
		height: inherit;
	}		
}

#logo {
	font-weight: bolder;
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#logo {
		float: left;
		font-size: 1.5em;
		margin-top: 65px;
		width: inherit;

	}		
}

.subtitle {
	font-weight: normal;
    color: #696969;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	.subtitle {
		line-height: 1.4em;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.subtitle {
		float: left;
		font-size: 3em;
		margin-top: 55px;
		margin-bottom: 40px;
		width: 95%;
		line-height: 1.4em;
	}		
}

#instructions {
    text-align: left;
    position: relative;
    margin-left: 25px;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#instructions {
		float: left;
		margin-left: 0;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#instructions {
		float: left;
		margin-left: -23px;
	}	
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#instructions .row-fluid {
		float: left;
		margin-bottom: 50px;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#instructions .row-fluid {
		margin-bottom: 100px;
	}		
}

.instruction {
	position: relative;
    display: block;
    height: inherit;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	.instruction {
		height: inherit;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.instruction {
		float: left;
		height: inherit;
		margin-top: 15px;
		margin-bottom: 125px;
	}		
}

.circle {
	float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
    background-color: green;
    color: white;
    font-size: 1.7em;
    border-radius: 50%;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	.circle {
		float: left;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 1.3em;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.circle {
		float: left;
    	width: 90px;
    	height: 90px;
    	line-height: 90px;
    	text-align: center;
    
    	font-size: 3em;
	}		
}

.instruction-text {
    float: left;
    height: 75px;
    width: 85%;
    margin-left: 20px;
    padding-top: 7px;	
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	.instruction-text {
		display: inline-block;
		margin-left: 15px;
		font-size: 1em;
		padding-top: 0px;
		width: 80%;
		vertical-align: middle;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.instruction-text {
	}		
}

.heading-text {
	font-weight: bold;
    font-size: 1.4em;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	.heading-text {
		font-size: 1.2em;
		line-height: 1.2em;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.heading-text {
		font-size: 3.5em;
		line-height: 1.2em;
		width: 100%;
	}		
}

.subheading-text {
	display: block;
	font-size: 1em;
	color: gray;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	.subheading-text {
		float: left;
		font-size: 1.1em;
		margin-left: -50px;
		margin-top: 10px;
		line-height: 1.6em;
		width: 100%;
		color: #808080;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.subheading-text {
		margin-top: 20px;
		margin-left: -100px;
		font-size: 3em;
		line-height: 1.4em;
		color: #666666;
	}		
}

#pricing-link {
	margin-top: 15px;
	height: 35px;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 35px;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#pricing-link {
		position: relative;
		margin: 45px 0px 30px 0px;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#pricing-link {
		height: 90px;
		width: 50%;
		margin-left: 100px;
		font-size: 3.2em;
		line-height: 90px;
	}		
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#caught-us-body {
		float: left;
	}		
}

#hello, #notify {
	text-align: left;
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#hello {
		float: left;
		margin-left: -80px;
		font-size: 4em;
		width: 850px;
		line-height: 1.4em;
		margin-bottom: 20px;
	}		
}

#notify {
	color: gray;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#notify {
		color: #808080;
		line-height: 1.6em;
	}
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#notify {
		color: #808080;
		float: left;
		font-size: 3em;
		margin-left: -80px;
		line-height: 1.4em;
		width: 850px;
	}		
}

.plan-box {
	display: inline-block;
	margin: 0px 4px;
}

.pricing-box {
	text-align: left;
	width: 225px;
	padding: 1px 10px;
	background-color: #575757;
	border-radius: 8px;
}

#standard {
	background-color: #373737;
}

.plan-type {
	margin-top: 10px;
	border-bottom: 1px dashed gray;
	padding-bottom: 5px;
	font-size: 1.4em;

	color: #E5E5E5;
}

.plan-price {
	color: #E5E5E5;
	height: 100px;
	text-align: center;
}

.dollar-sign {
	position: relative;
	display: inline-block;
	vertical-align: super;
	font-size: 1.3em;
}

.price {
	display: inline-block;
	line-height: 100px;
	font-size: 6em;
}

.rate {
	display: inline-block;
	line-height: 145px;
	font-size: 1.8em;
}

.plan-market {
	margin-bottom: 10px;
	border-top: 1px dashed gray;
	padding-top: 5px;
	
	font-size: 1em;
	color: #E5E5E5;
}

.market-detail {
	display: inline-block;
	color: #A9A9A9;
}

.feature-box {
	text-align: left;
	width: 235px;
	
	margin: 8px 0px;
	padding: 5px 5px;
	background-color: #E5E5E5;
	border-radius: 8px;
}

.feature-box .amount {
	display: inline-block;
	line-height: 25px;
	width: 25px;
	height: 25px;
	
	text-align: center;
	font-size: 1.3em;
	color: #E5E5E5;
	
	background-color: green;
	border-radius: 5px;
}

.feature-box .feature {
	display: inline-block;
	margin-left: 3px;
	vertical-align: baseline;
}

form {
	margin-top: 0;
}

#email-form {
	margin: 40px 0px 0px 0px;
}

/* Smartphones (portrait and landscape) or Browsers at a narrow resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (min-width : 320px) and (max-width : 480px) {
	#password-form input, #email-form input {
		width: 100%;
		height: 30px;
	}
}

#mce-EMAIL{
	height: 23px;
	width: 100%;
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#email-form {
		width: 650px;
		margin-left: -170px;
		margin-top: 50px;
	}		
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#email-form input{
		margin-bottom: 30px;
		height: 60px;
		font-size: 2.5em;
		line-height: 1em;
	}		
}

#mce-EMAIL:focus{
	border: 1px solid #AAA;
	box-shadow: 0px 0px 2px #ccc;
}

#mailchimp-subscribe {
	width: 100px;
	height: 20px;
}

#contact-info {
	font-size: .9em;
	margin: 5px 0px 20px 0px;
}

/* iPhones with retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#contact-info {
		width: 700px;
		margin-left: -200px;
		font-size: 2.5em;
		margin-bottom: 50px;
	}		
}

footer {
	position: relative;
	height: 20px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	text-align: left;
	color: #CCCCCC;
}
