%html
  %head
    %title Welcome
    <script src="assets/js/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

    -# = <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/js/ga.js"></script>
    <script src="assets/js/google-analytics.js"></script>
  %body
    #container-fluid
      #content
        .row-fluid
          .offset1
            #header
              %h1.title  
                Schedule faster with 
                %span#logo CheckIt
              %h4.subtitle  We automate the process of scheduling events on your Google calendar sent to you via email

        .row-fluid
          .span8.offset2#caught-us-body
            %h2#hello Hello! You caught us before we're ready.
            %div#notify We're working hard to put the finishing touches onto CheckIt. Things are going well and it should be ready to help you with scheduling very soon. If you'd like us to send you a reminder when we're ready, just put your email in below:

        .row-fluid.form
          .span4.offset4
            %form#email-form.validate{ action: "http://checkit.us4.list-manage1.com/subscribe/post?u=aedd7569d76eb6b92396e4c97&amp;id=74cebc2078", method: "post", name: "mc-embedded-subscribe-form", novalidate:  "", target: "_blank"}
              %fieldset
                %input#mce-EMAIL.email{name: "EMAIL", placeholder: "email address", required: "", type: "text", value: ""}
                .clear
                %input#mailchimp-subscribe.btn.btn-success.span2{ name: "subscribe", type: "submit", value: "Remind me"}
            #contact-info.row-fluid
              or contact us at
              %a{ href: "mailto:contact@somatic.co"} contact@checkit.co     
            
      .row-fluid
        .span-12
          %footer
            &#169 2013 checkit. All rights reserved   