

body {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#container {
    display: inline-block;
    margin: 0 auto;
    // text-align: center;
}

#header {
    text-align: left;
    border: 1px solid blue;
    margin: 25px 0px 35px 0px;
}

.title {
    
}

.subtitle {
    color: #696969;
}

#instructions {
    border: 1px solid green;
    text-align: left;
    padding-left: 20px;
}

.instruction {
	position: relative;
    display: block;
    height: inherit;
    border: 1px solid blue;
    margin: 15px 0px;
    vertical-align: middle;
}

.circle {

	border: 1px solid blue;
    background-color: green;
    width: 50px;
    line-height: 50px;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    // border-radius: 50%;
    // float: left;
}

.number {
	border: 1px solid blue;
	display: inline-block;
	height: 100%;
    text-align: center;
    margin: 0 auto;
    // padding: 15px 0px 15px 0px;
    // FIXME: DONT USE PX HERE
}

.instruction-text {
    display: inline-block;
    border: 1px solid yellow;
    margin-left: 15px;
}
