%html
  %head
    %title Welcome

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

    <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
    <script src="ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  %body
    #container
      .row-fluid
        .span12
          #header
            %h1.title  
              Schedule faster with 
              %span#logo CheckIt
            %h4.subtitle  Forward any event data that you would normally enter into your Google calendar to us, and we'll do it for you.
        
          #instructions
            #instruction-1.instruction
              %span.circle 1   
              -# =  TODO: make this a sweeter word
              .instruction-text Forward an email to planner@checkit.co  
            #instruction-2.instruction 
              %span.circle 2 
              .instruction-text We send you an email making sure we got it right. 
            #instruction-3.instruction
              %span.circle 3 
              .instruction-text Our innovative technology takes that information and turns it into an event on your google calendar. 

          %a#pricing-link.btn.btn-success{ href: "pricing-page.html" } Plans and Pricing.

      .row-fluid
        .span-12
          %footer
            &#169 2013 checkit. All rights reserved      