%html
  %head
    %title Welcome
    <script src="assets/js/modernizr.js"></script>
    
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

    -# = <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/google-analytics.js"></script>
  %body
    #container-fluid
      #content
        .row-fluid
          .span12.offset1
            #header
              %h1.title  
                Schedule faster with 
                %span#logo CheckIt
              %h4.subtitle  We automate the process of scheduling events sent to you via email on your Google calendar
          
          .span12.offset1
            #instructions
              .row-fluid
                #instruction-1.instruction
                  %span.circle 1   
                  -# =  TODO: make this a sweeter word
                  .instruction-text
                    %span.heading-text Forward an email to planner@checkit.co  
                    %span.subheading-text For example, meeting at 8pm on Tuesday at the office?
              .row-fluid  
                #instruction-2.instruction 
                  %span.circle 2 
                  .instruction-text
                    %span.heading-text We send you an email making sure we got it right. 
                    %span.subheading-text You confirm we understand what you sent us.
              .row-fluid  
                #instruction-3.instruction
                  %span.circle 3 
                  .instruction-text
                    %span.heading-text We turn it into an event on your Google calendar
                    %span.subheading-text Never enter an event into your calendar ever again!
            
          .row-fluid
            %a#pricing-link.btn.btn-success{ href: "caught-us.html" } Plans and Pricing.

      .row-fluid
        .span-12
          %footer
            &#169 2013 checkit. All rights reserved      
