%html
  %head
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">

    <script src="bootstrap/js/bootstrap.min.js"></script> 
    <script src="ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  %body
    #container
      .row-fluid
        .span-12
          #header
            %h1.title Schedule faster with CheckIt
            %h4.subtitle Forward any event data that you would normally enter into your Google calendar, and we'll do it for you.
          
          #instructions
            #instruction-1.instruction
              .circle 1 
              -# =  TODO: make this a sweeter word
              .instruction-text Forward an email to planner@checkit.co  
            #instruction-2.instruction 
              .circle  2 
              .instruction-text We send you an email making sure we got it right. 
            #instruction-3.instruction
              .circle  3 
              .instruction-text Our innovative technology takes that information and turns it into an event on your google calendar. 

          %a#pricing-link.btn.btn-success{ href: "" } Plans and Pricing.