%html
  %head
    %title Welcome

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

    -# = <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/js/custom.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40000925-1', 'checkit.co');
    ga('send', 'pageview');

    </script>
  %body
    #container
      #content
        .row-fluid
          #header
            %h1.title  
              Schedule faster with 
              %span#logo CheckIt
            %h4.subtitle  Forward any event data that you would normally enter into your Google calendar to us, and we'll do it for you.
        
          #instructions
            .row-fluid
              #instruction-1.instruction
                %span.circle 1   
                -# =  TODO: make this a sweeter word
                %span.instruction-text Forward an email to planner@checkit.co  
            .row-fluid  
              #instruction-2.instruction 
                %span.circle 2 
                %span.instruction-text We send you an email making sure we got it right. 
            .row-fluid  
              #instruction-3.instruction
                %span.circle 3 
                %span.instruction-text Our innovative technology takes that information and turns it into an event on your google calendar. 
            
          .row-fluid
            %a#pricing-link.btn.btn-success{ href: "pricing-page.html" } Plans and Pricing.

      .row-fluid
        .span-12
          %footer
            &#169 2013 checkit. All rights reserved      