%html
  %head
    %title Welcome

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

    -# = <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/js/google-analytics.js"></script>
  %body
    #container
      #content
        .row-fluid
          #header
            %h1.title  
              Schedule faster with 
              %span#logo CheckIt
            %h4.subtitle  Forward any event data that you would normally enter into your Google calendar to us, and we'll do it for you.
        
        .row-fluid
          .plan-box
            .pricing-box
              .plan-type Free
              .plan-price 
                .dollar-sign $
                .price 0
                .rate /mo
              .plan-market 
                Who? 
                .market-detail Try it out. Fall in love.
            .feature-box
              .amount 1 
              .feature 1 email per day
          .plan-box
            .pricing-box#standard
              .plan-type Standard
              .plan-price 
                .dollar-sign $
                .price 5
                .rate /mo
              .plan-market 
                Who? 
                .market-detail The everyday user.
            .feature-box
              .amount 5 
              .feature 5 emails per day
          .plan-box
            .pricing-box
              .plan-type Max
              .plan-price 
                .dollar-sign $
                .price 15
                .rate /mo
              .plan-market 
                Who? 
                .market-detail The businessman on the go.
            .feature-box
              .amount &#8734;
              .feature Unlimited emails per day    

        .row-fluid.form
          .span4.offset4
            %form#email-form.validate{ action: "http://checkit.us4.list-manage1.com/subscribe/post?u=aedd7569d76eb6b92396e4c97&amp;id=74cebc2078", method: "post", name: "mc-embedded-subscribe-form", novalidate:  "", target: "_blank"}
              %fieldset
                %div{ for: "mce-EMAIL" } Subscribe to our mailing list
                %input#mce-EMAIL.email{name: "EMAIL", placeholder: "email address", required: "", type: "text", value: ""}
                .clear
                %input#mailchimp-subscribe.btn.btn-success.span2{ name: "subscribe", type: "submit", value: "Subscribe"}
            #contact-info.row-fluid
              or contact us at
              %a{ href: "mailto:contact@somatic.co"} contact@somatic.co  
      .row-fluid
        .span12
          %footer
            &#169 2013 checkit. All rights reserved   
